header {
    background-image: linear-gradient(to left, #2f4458 , #ffff);
    background-size: cover;
    font-weight: bold;
}

header img {
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 50px;
    color: #2f4458;
    text-shadow: 2px 2px 2px #6e9abe;
    font-weight: bold;
}

footer {
    background-color: #2f4458;
    margin-top: 48px;
    bottom: 0px;
}

footer p {
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
}

/***************** TEMPLATE *****************/


body {
    background-image: url("../imagenes/banner1.jpg");
    background-size: cover;
}

.seccion1 {
    backdrop-filter: blur(0.1px);
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    padding-bottom: 100px;
}

.seccion1 h2 {
    font-weight: bold;
    color: #2f4458;
}

.seccion1 button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}