header {
    background-image: linear-gradient(to left, #2f4458 , #ffff);
    background-size: cover;
    font-weight: bold;
}

header img {
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 50px;
    color: #2f4458;
    text-shadow: 2px 2px 2px #6e9abe;
    font-weight: bold;
}

footer {
    background-color: #2f4458;
    margin-top: 48px;
    bottom: 0px;
}

footer p {
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
}
/***************** TEMPLATE *****************/
.container-fluid2 img {
    width: 500px;
    height: 600px;
}

.container-fluid2 h1 {
    font-size: 75px;
    margin-top: 0px;
}

.container-fluid2 span {
    color:#3e25be;
}

.container-fluid2 button {
    background-color:#3e25be;
    border: none;
}

.container-fluid2 hr {
    border-top: 10px solid #3e25be; /* Adjust color and thickness */
    margin-bottom: 0px;
    width: 135px;
}